* {
  box-sizing: border-box;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: Trebuchet MS, sans-serif;
}

body {
  margin: 0px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  text-align: center;
  text-indent: -5px;
  letter-spacing: -2px;
  font-size: 16px;
  content: "°F";
  font-family: Trebuchet MS, sans-serif;
  line-height: 26px;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #b0b0b0;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "°C";
}
#header {
  white-space: nowrap;
}

#header-div {
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  min-width: 700px;
  height: 65px;
  padding: 20px 80px 20px 80px;
  margin:auto;
  align-items: center;
}

#location-form {
  height: 25px;
  line-height: 1em;
  white-space: nowrap;
}

#location-form input[type="text"], input[type="submit"] {
  height: 100%;
}

@keyframes skew-y-shake{
  0% { transform: skewY(-3deg); }
  5% { transform: skewY(3deg); }
  10% { transform: skewY(-3deg); }
  15% { transform: skewY(3deg); }
  20% { transform: skewY(0deg); }
  100% { transform: skewY(0deg); }
}

#location-form input[type="text"]:required:invalid {
  border: 2px solid red;
}

#location-form input[type="text"]:invalid.err {
  border: 2px solid red;
  animation: skew-y-shake 0.1s ease-in-out 0s 2;
  box-shadow: 0 0 0.3rem 0.1rem red;
}

#container {
  padding: 20px 80px 20px 80px;
  max-width: 1080px;
  min-width: 700px;
  margin: auto;
  line-height: 1.5em;
}

#location-div, #current-time-div, #current-condition, #current-icon-div {
  position: relative;
  width: fit-content;
  font-size: 1.1em;
  left: 50%;
  transform: translateX(-50%);
}

#current-temp-c, #current-temp-f {
  position: relative;
  width: fit-content;
  font-size: 2em;
  line-height: 2em;
  left: 51%;
  transform: translateX(-50%)
}

#current-time-div {
  font-size: .8em;
}

#current-condition {
  font-size: 1em;
}

#current-icon-div {
  height: 64px;
}

#current-div div {
  width: fit-content;
  line-height: 1.8em;
}

#current-div {
  position: relative;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
}

#looking-ahead {
  display: none;
  text-align: center;
}

#forecast-div {
  display: flex;
  gap: 30px;
  justify-content: center;
}

#forecast-div div {
  text-align: center;
  width: 160px;
  white-space: nowrap;
}

.icon-container {
  position: relative;
  height: 64px;
}

.icon-container .chance {
  position: absolute;
  top: 10%;
  left: 51%;
  font-size: .7em;
  line-height: .7em;
  /* transform: translate(-50%, -50%); */
}

#aqi-rating, #uv-index {
  padding: 2px 6px;
  border-radius: 15px;
  color: white;
}

#next-24-hours-div {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow-x: scroll;
  /* padding-bottom: 10px; */
  padding: 10px 0px;
}

#next-24-hours-div div {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  white-space: nowrap;
  text-align: center;
}

#next-24-hours-div .chance {
  top: 10%;
  left: 52%;
}
